h1, .name {
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative
}

.name::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: black;
    left: 0;
    bottom: 0;
}

.swipedText {
    color: #7d7789;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
}
