html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-size: 16px;
}

header {
    height: 20px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

main {
    min-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    padding: 80px;
}

img {
    max-width: 100%;
    height: auto;
}

.page-main {
    display: grid;
    grid-template-columns: 1fr 2.4fr;
}

.page-main article {
    background-color: #f6fbff;
    padding: 92px 100px 0;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    text-decoration:none;
    color:#fff;
    display:inline-block;
    background-color:#333;
    padding:28px 38px;
    line-height:6px;
    text-transform:none;
    border:2px solid #333;
    font-weight:500;
    font-size:16px;
    transition:all .3s ease
}

.button:hover {
    background-color:transparent;
    color:#333
}
