.progress-wrapper {
    position: relative;
}

.progress-wrapper__percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 23px;
    font-weight: 600;
}
